*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Mumblers Demo,Brush Script MT";
    background: orange;
}

.container{
    border:  1px solid black;

    width: 90%;
    margin: auto;
    display: flex;
}
.gloceries{
    border: 1px solid red;

    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.499);
}
.gloceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
}
.gloceries i{
    font-size: 2rem;
    color: orange;
    cursor: pointer;
}
.gloceries input{
    font-family: inherit;
    border: 0;
    outline: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
    padding-left: 10px;
}
#allItems h2{
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 2rem;
}

@media(max-width : 480px){
    .gloceries h1{
        font-size: 2rem;
    }
    .gloceries i{
        font-size: 1.5rem;
    }
    .gloceries input{
        font-size: 1rem;
    }
    .gloceries h2{
        margin-left: 25px;
        font-size: 1.5rem;
    }
}